$trans-standart: cubic-bezier(0.4, 0, 0.2, 1);
$trans-decelerate: cubic-bezier(0, 0, 0.2, 1);

$font-size-title: 28px;
$font-size-title-nano: 18px;
$font-size-big: 18px;
$font-size: 16px;
$font-size-small: 14px;
$font-size-micro: 12px;

$color-main: #eb6345;
$color-dark-main: #d1583d;
$color-darker-main: #b84d35;
$color-dark-main-t: rgba(209, 88, 61, 0);
$color-masala-grey-h: rgba(70, 61, 59, 0.5);
$color-masala-grey: #463d3b;
$color-ebb-grey: #f0eceb;
$color-background: #faf9f8;
$color-white: #fff;
$color-black: #2b2624;
