<template>
  <div class="card-wrapper">
    <div class="card">
      <div>
        <img class="cardImage" v-bind:src="pokemon.picture" />
      </div>
      <div class="pokemonName">{{pokemon.name}}</div>
      <div class="baseExperience smallText">Base Experience: {{pokemon.baseExperience}}</div>
      <div class="genres">
        <div
          v-for="(pokemonType, index) in pokemon.types"
          v-bind:key="index"
          v-bind:class="(pokemon.types.length -1 === index)? classes[index]+' cut': classes[index]"
        >{{pokemonType.type.name}}</div>
      </div>
      <div class="abilities">
        <div class="abilities smallText">
          Abilities:
          <span
            v-for="(pokemonAbility, index) in pokemon.abilities"
            v-bind:key="index"
          >{{pokemonAbility.ability.name + (index < pokemon.abilities.length -1 ? " | " : "") }}</span>
        </div>
        <div class="abilities smallText">
          Hidden Abilities:
          <span
            v-for="(pokemonAbility, index) in pokemon.hiddenAbilities"
            v-bind:key="index"
          >{{pokemonAbility.ability.name + (index < pokemon.hiddenAbilities.length -1 ? " | " : "")}}</span>
        </div>
      </div>
      <div class="lastRow">
        <div class="item">
          {{pokemon.height}}
          <div class="smallText">height</div>
        </div>
        <div class="item">
          {{pokemon.weight}}
          <br />
          <div class="smallText">weight</div>
        </div>
        <div class="item">
          <a class="btn addToCart">Add To List</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "nuxt-property-decorator";
import { Pokemon } from "~/types";

@Component({})
export default class Card extends Vue {
  @Prop() pokemon!: Pokemon;

  classes = ["first", "second"];
}
</script>

<style lang="scss" scoped>
.card-wrapper {
  padding-bottom: 32px;
  display: inline-block;
  transition: 0.2s;
}
.card {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 1rem;
  margin: 0.25rem;
  display: block;
  cursor: pointer;
  width: 268px;
  min-height: 378px;
  position: relative;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 transparent, 0 2px 1px -1px transparent,
    0 1px 1px 0 transparent, 0 0 0 1px #e5dfde;
  padding-bottom: 14px;
  transition: 0.15s $trans-standart;
  border-radius: 4px;
}
.card:hover {
  transition: 0.1s $trans-decelerate;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12),
    0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 0 0 1px rgba(229, 223, 222, 0);
  z-index: 1;
}

.cardImage {
  width: 100%;
  height: 157px;
}
.pokemonName {
  display: block;
  font-family: EuclidFlex;
  font-weight: 700;
  font-size: $font-size-title-nano;
  color: $color-black;
}
.lastRow {
  padding: 0 8px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 4px;
}
.item {
  display: flex;
  flex-direction: column;
}
.genres {
  width: 100%;
  justify-content: flex-start;
  position: relative;
  margin-top: 12px;
  min-height: 31px;
}
.genres,
.genres > div {
  display: flex;
  align-items: center;
}
.genres > div {
  height: 19px;
  justify-content: center;
  border: 1px solid $color-black;
  background-color: #fff;
  font-size: 10px;
  color: $color-black;
  font-weight: 600;
}
.genres .first {
  border-radius: 9px 0 0 9px;
  width: 50%;
  border-right-width: 0;
}
.genres > div.cut {
  border-bottom-right-radius: 9px;
  border-top-right-radius: 9px;
}
.genres .second.cut {
  width: 50%;
  border-right-width: 1px;
}
.genres .first.cut {
  border-right-width: 1px;
  width: 100%;
}
.addToCart {
  min-height: 27px;
  border-radius: 14px;
  border: 1px solid $color-main;
  background-color: $color-dark-main-t;
  padding: 0 18px;
  color: $color-main;
  box-shadow: 0 2px 4px 0 transparent;
  font-size: $font-size-small;
  font-weight: 400;
  line-height: 25px;
}
.addToCart:hover {
  background-color: $color-main;
  color: white;
}
.smallText {
  font-weight: 400;
  font-size: $font-size-micro;
  color: $color-masala-grey-h;
  margin-top: 0;
}
.baseExperience {
  padding: 10px 0;
}
.abilities {
  padding: 5px 0;
}
</style>
