<template>
  <div class="search-container">
    <div class="inputWrapper">
      <label>Search :</label>
      <input
        type="text"
        id="searchKeyword"
        name="searchKeyword"
        v-on:change="searchPokemon($event)"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator";
import { State } from "vuex-class";

@Component({})
export default class extends Vue {
  async searchPokemon(event: any) {
    let searchKeyword = event.target.value;
    if (searchKeyword.length > 0) {
      await this.$store.dispatch("searchPokemon", searchKeyword);
    } else {
      this.$store.commit("setPokemon", []);
      this.$store.commit("setOffset", 0);
      await this.$store.dispatch("fetchNewPokemons");
    }
  }
}
</script>

<style lang="scss" scoped>
.search-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.inputWrapper {
  margin: 20px 0;
}
</style>
