<template>
  <div class="sidebar-wrapper">
    <div class="filterBlock">
      <div class="title">Types</div>
      <div class="filterElem" v-for="(type, index) in types" :key="index">
        <div class="checkBox" v-on:click="updateSelectedTypes(index)">
          <div
            v-bind:class="selectedTypes.indexOf(index) === -1 ? 'checkBoxElem': 'checkBoxElem active'"
          >
            <font-awesome-icon :icon="['fas', 'check']" v-if="selectedTypes.indexOf(index) !== -1" />
          </div>
          <div class="checkBoxLabel">{{type}}</div>
        </div>
      </div>
    </div>
    <div class="filterBlock">
      <div class="title">Abilities</div>
      <div class="filterElem" v-for="(ability, index) in abilities" v-bind:key="index">
        <div class="checkBox" v-on:click="updateSelectedAbilities(index)">
          <div
            v-bind:class="selectedAbilities.indexOf(index) === -1 ? 'checkBoxElem': 'checkBoxElem active'"
          >
            <font-awesome-icon
              :icon="['fas', 'check']"
              v-if="selectedAbilities.indexOf(index) !== -1"
            />
          </div>
          <div class="checkBoxLabel">{{ability}}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "nuxt-property-decorator";
import { State } from "vuex-class";

@Component({})
export default class SideBar extends Vue {
  @State selectedTypes!: number[];
  @State selectedAbilities!: number[];
  @State types!: any[];
  @State abilities!: any[];

  async updateSelectedTypes(selectedType: Number) {
    this.$store.commit("addSelectedType", selectedType);
    this.$store.dispatch("filterPokemons");
  }
  async updateSelectedAbilities(selectedAbility: Number) {
    this.$store.commit("addSelectedAbility", selectedAbility);
    this.$store.dispatch("filterPokemons");
  }
}
</script>

<style lang="scss" scoped>
.sidebar-wrapper {
  min-width: 220px;
  margin-right: 66px;
  position: relative;
}
.filterBlock {
  position: relative;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}
.title {
  font-size: $font-size-title-nano;
  font-family: EuclidFlex;
  font-weight: 700;
  color: $color-black;
  margin-bottom: 14px;
}
.filterElem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
  cursor: pointer;
}
.checkBox {
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkBoxLabel {
  margin-left: 10px;
  text-transform: capitalize;
}
.checkBoxElem {
  width: 18px;
  height: 18px;
  min-width: 18px;
  min-height: 18px;
  border-radius: 2px;
  border: 1px solid $color-ebb-grey;
  background-color: $color-white;
  transition: 0.15s $trans-standart;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  font-size: small;
}
.checkBoxElem.active {
  border: 1px solid $color-main;
  background-color: $color-main;
  transition: 0.1s $trans-decelerate;
}
</style>
