<template>
  <div class="sort-wrapper">
    Sort By :
    <a class="selectedType" v-on:click="isOpen = !isOpen">
        {{sortingTypes[selectedTypeIndex]}}
    </a>
    <div class="sortingTypeList" v-if="isOpen">
      <span v-bind:class = "(index === selectedTypeIndex)?'selected':''" v-bind:key="index" v-for="(sortingType, index) in sortingTypes"  v-on:click="selectedTypeIndex = index; isOpen = false; updatePokemons(index)">{{sortingType}}</span>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "nuxt-property-decorator";
import { State } from "vuex-class";
import { Pokemon } from "../types";

@Component({})
export default class Sort extends Vue {
  isOpen: Boolean = false;

  selectedTypeIndex: Number = 0;

  sortingTypes = ["relevance", "Base Experience", "Weight", "Height"];

  @State pokemons!: Pokemon;


  updatePokemons(selectedIndex: Number) {    
    this.$store.commit('orderPokemons', selectedIndex) 
  }
}
</script>

<style lang="scss" scoped>
.sort-wrapper {
  position: relative;
  width: 200px;
}
.sortingTypeList {
  position: absolute;
  min-width: 200px;
  flex-wrap: wrap;
  display: flex;
  top: 110%;
  z-index: 3;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 0 -1px rgba(0, 0, 0, 0.12),
    0 1px 1px 0 rgba(0, 0, 0, 0.14);
  background-color: #f8f9fa;
}
.sortingTypeList > span {
  width: 100%;
  display: inline-block;
  font-size: $font-size-small;
  padding: 2px 10px;
  margin: 5px 0 5px 5px;
  border-left: 3px solid rgba(235, 99, 69, 0);
  transition: 0.3s;
  font-weight: 400;
  color: #2b2624;
}
.sortingTypeList > span:hover {
  border-left: 3px solid rgba(235, 99, 69, 0.33333);
}
.sortingTypeList > span.selected {
  border-left: 3px solid #eb6345;
}
.selectedType{
    font-weight: bolder;
    cursor: pointer;
}
</style>
