<template>
  <section>
    <div class="content-wrapper">
      <div class="content">
        <div class="side-bar-container">
          <SideBar />
        </div>
        <div class="cards">
          <SearchModule />
          <div class="cards-header">
            <div class="addAll">
              <span class="fa fa-add"></span> All to Selection ({{pokemons.length}})
            </div>
            <Sort />
          </div>
          <Card v-for="(pokemon, index) in pokemons" :key="index" :pokemon="pokemon"></Card>
        </div>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator";
import { State } from "vuex-class";
import { Pokemon } from "~/types";
import Card from "~/components/Card.vue";
import SideBar from "~/components/SideBar.vue";
import Sort from "~/components/Sort.vue";
import axios from "axios";
import SearchModule from "~/components/SearchModule.vue";

@Component({
  components: {
    Card,
    SideBar,
    Sort,
    SearchModule,
  }
})
export default class extends Vue {
  @State pokemons!: Pokemon[];

  scroll() {
    window.onscroll = () => {
      let bottomOfWindow =
        Math.max(
          window.pageYOffset,
          document.documentElement.scrollTop,
          document.body.scrollTop
        ) +
          window.innerHeight ===
        document.documentElement.offsetHeight;

      if (bottomOfWindow) {
        this.$store.dispatch('fetchNewPokemons')
      }
    };
  }

  async mounted() {
    this.scroll();
    await this.$store.dispatch('fetchNewPokemons');
    await this.$store.dispatch('fetchTypes');
    await this.$store.dispatch('fetchAbilities');
  }

  async searchPokemon(event: any) {
    let searchKeyword = event.target.value;
    if (searchKeyword.length > 0) {
      await this.$store.dispatch('searchPokemon', searchKeyword)
    } else {
      this.$store.commit("setPokemon", []);
      this.$store.commit('setOffset', 0);
      await this.$store.dispatch('fetchNewPokemons')
    }
  }
  
}
</script>

<style lang="scss" scoped>
.inputWrapper{
  margin: 20px 0;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: $font-size;
}
.content-wrapper {
  position: relative;
  overflow: hidden;
  background-color: $color-background;
  padding: 0 65px;
  min-height: 100vh;
}
.cards {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.cards-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 16px;
}
.addAll {
  font-size: $font-size-big;
  color: $color-main;
  cursor: pointer;
}
</style>
